@font-face{
    font-family: Abel;
    src: url(../source/font/Abel-Regular.ttf);
}
@font-face{
    font-family: GothicA;
    src: url(../source/font/Gothic_A1/GothicA1-Regular.ttf);
}

/* launch.html */

#body{
    background-color: rgb(27, 38, 44);
    font-family: GothicA;
}

#teks{
    color: white;
    text-align: center;
    font-size: 28pt;
}
#gambar{
    width: 454px;
}
.tombollaunch{
    width: 158px;
    height: 50px;
    font-size: 14pt;
    background-color: white;
    border: none;
    border-radius: 2.6px;
    position: relative;
    transition: 0.5s;
}
.tombollaunch:focus{
    outline: none;
}
.tombollaunch:hover{
    box-shadow: 0px 0px 10px gray;
}
li{
    list-style: none;
}
.linkSoc{
    width: 60px;
    height: 60px;
}
.footeritem{
    color: white;
}
.footeritem:hover{
    text-decoration: none;
    color: white;
}

/* register.html */

#GLogo{
    width: 200px;
}
.TKirimR{
    background-color: white;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 2.6px;
}

/* login.html */

#Masuk{
    font-family:arial;
    font-size:20px;
    text-align: center;
}
#bus{
    margin-top:15px;
}
#body{
    background-color:rgb(27, 38, 44);
    color:white;
}
#HeaderLogin{
    margin-top: 50px;
}
#InputLogin{
    margin-top: 40px;
}
.nama{
    color:white;
    background-color:rgb(27, 38, 44);
    border: 0px;
    border-bottom: 2px solid white;
}
.password{
    color:white;
    background-color:rgb(27, 38, 44);
    border: 0px;
    border-bottom: 2px solid white;
    margin-top:30px;
}
::placeholder{
    background-color:rgb(27, 38, 44);
    color:white;
}
#LupaLogin{
    margin-top: 50px;
}
.linkLogin{
    color: white;
}
.linkLogin:hover{
    color: white;
    text-decoration: none;
}
.TombolLoginn{
    display: inline;
}
#punya{
    border:none;
    background-color:rgb(27, 38, 44);
    color:white;
    margin-top:10px;
}
#belum{
    border:none;
    background-color:rgb(27, 38, 44);
    color:white;
    margin-top:5px;
}
#kembali{
    border-radius:10px;
    margin-top:30px;
}
#kirim{
    border-radius:10px;
    margin-left:10px;
}
#bantu{
    border:none;
    background-color:rgb(27, 38, 44);
    color:white;
}